body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*LOGIN area*/
.container_login{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.login_area{
    height: auto;
    width: 400px;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #fff;
    position: relative;
    border-radius: 25px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    box-sizing: border-box;
    padding: 70px;
}

.login_area input{
    width: 100%;
    margin-bottom: 50px;
}

.login_area input[type="text"], input[type="password"]
{
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #A8A8A8;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #A8A8A8;
}

.login_area input[type="submit"]
{
    margin:0;
    height: 55px;
    border: none;
    outline: none;
    background: #415A77;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #fff;
    border-radius: 12px;
}

.link_registration{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.link_registration span{
    color: #A8A8A8;
}

.link_registration a
{
    text-decoration: none;
   color: #1B263B;
    
}
